<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reserva Exitosa</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<section class="reservas">

    <h2>✅ Reserva enviada exitosamente</h2>

    <p>
        Gracias por reservar con NicaExperience.
    </p>

    <p>
        Nos pondremos en contacto contigo pronto.
    </p>

    <br>

<a href="{% url 'generar_pdf' %}">
    <button>
        📄 Descargar PDF de Reservas
    </button>
</a>

<br><br>

    <a href="/">
        <button>Volver al inicio</button>
    </a>

</section>

</body>
</html>