{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Granada Colonial</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="detalle-container">

    <h1>⛪ Granada Colonial</h1>

    <img
    src="{% static 'imagenes/granada.jpg' %}"
    alt="Granada Colonial"
    style="width:400px; height:auto; border-radius:15px;">

    <div class="detalle-info">

        <h3>📖 Descripción</h3>

        <p>
            Granada es una de las ciudades más antiguas y hermosas de Nicaragua.
            Destaca por su arquitectura colonial, iglesias históricas,
            calles coloridas y una gran riqueza cultural.
        </p>

  <h3>ℹ️ Información </h3>

    <div class="info-experiencia">

    <div>
        <h4>📍 Ubicación</h4>
        <p>Granada, Nicaragua</p>

    </div>

    <div>
        <h4>🕒 Duración</h4>
        <p>3 - 4 horas</p>
    </div>

    <div>
        <h4> Precio</h4>
        <p>C$ 850 por persona</p>
    </div>

    </div>
    
     <hr>

 <h3>📍 Descubre lo mejor de Granada</h3>

 <div class="lugares-granada">

    <p>⛪ Visita a la Iglesia La Merced y disfruta de una de las mejores vistas panorámicas de la ciudad.</p>

    <p>🏛️ Recorre el Parque Central y conoce el corazón histórico de Granada.</p>

    <p>🦢 Observa el Pico de Garza y descubre la belleza natural de sus alrededores.</p>

    <p>🌊 Disfruta de un recorrido por las Isletas de Granada y aprecia su impresionante paisaje.</p>

    <p>🚶 Pasea por la Calle La Calzada, llena de cultura, gastronomía y ambiente colonial.</p>

 </div>

 <h3>🖼️ Galería de imágenes</h3>

 <div class="galeria-granada">

    <img src="{% static 'imagenes/merced.jpg' %}" alt="Iglesia La Merced">

    <img src="{% static 'imagenes/parque_central.jpg' %}" alt="Parque Central">

    <img src="{% static 'imagenes/pico_garza.jpg' %}" alt="Pico de Garza">

    <img src="{% static 'imagenes/isletas.jpg' %}" alt="Isletas de Granada">

    <img src="{% static 'imagenes/calle_calzada.jpg' %}" alt="Calle La Calzada">

 </div>
<hr>

 <div class="recomendacion">
    <h3>💡 Recomendación</h3>

    <p>
        Lleva ropa cómoda, bloqueador solar y tu cámara para capturar los mejores recuerdos.
    </p>

 </div>

    <div class="detalle-botones">

       <button onclick="history.back()">
    ⬅️ Volver

    </butto
    
    </div>

</div>

</body>
</html>