{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rivas - NicaExperience</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
 
 <section class="descripcion-masaya">
    <div class="contenedor">

        <h2>Bienvenidos a Masaya</h2>

      <img
     src="{% static 'imagenes/masaya.jpg' %}"
     alt="Masaya"
     style="width:400px; height:auto; border-radius:15px;">  

        <p>
           Masaya, conocida como la "Cuna del Folclore Nicaragüense", es uno de los
        departamentos más visitados de Nicaragua por su riqueza cultural,
        tradiciones, artesanías y paisajes naturales. Aquí se encuentran
        importantes atractivos como el Parque Nacional Volcán Masaya, la
        impresionante Laguna de Apoyo, el famoso Mercado de Artesanías y el
        histórico barrio indígena de Monimbó, convirtiéndolo en un destino ideal
        para disfrutar de la naturaleza, la cultura y la historia.
     </p>

</div>
</section>
<section class="lugares-masaya">
    <div class="contenedor">

        <h2>Lugares Turísticos de Masaya</h2>

        <ul>
       <li><a href="{% url 'volcan_masaya' %}">🌋 Volcán Masaya</a></li>
       <li>💦 Laguna de Apoyo</li>
       <li>🛍️ Mercado de Artesanías de Masaya</li>
       <li>🎭 Centro Cultural de Masaya</li>
       <li>🏛️ Parque Central de Masaya</li>
       <li>⛪ Basílica Menor de Nuestra Señora de la Asunción</li>
       <li>🎉 Barrio Indígena de Monimbó</li>
       <li>🏺 Talleres de Artesanías</li>
    
    </ul>
</div>
    <div class="detalle-botones">

       <button onclick="history.back()">
    ⬅️ Volver

 </butto>
 
    </div>
</section>


</body>
</html>