{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rivas - NicaExperience</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

 <section class="descripcion-rivas">
    <div class="contenedor">

        <h2>Bienvenidos a Rivas</h2>

      <img
     src="{% static 'imagenes/rivas.jpg' %}"
     alt="Rivas"
     style="width:400px; height:auto; border-radius:15px;">  

        <p>
            El departamento de Rivas es uno de los principales destinos turísticos de Nicaragua.
            Se caracteriza por sus hermosas playas del océano Pacífico, la impresionante Isla de
            Ometepe, sus volcanes, reservas naturales y una gran riqueza cultural que atrae a
            visitantes nacionales y extranjeros durante todo el año.
        </p>

</div>
</section>

<section class="lugares-rivas">
    <div class="contenedor">

        <h2>Lugares Turísticos de Rivas</h2>

        <ul>
             <li>🏝️ Isla de Ometepe</li>
        <li>🌋 Volcán Concepción</li>
        <li>🌋 Volcán Maderas</li>
        <li>💧 Ojo de Agua</li>
        <li>🌿 Reserva Charco Verde</li>
        <li>🏄 Playa Popoyo</li>
        <li>🌊 Playa Guasacate</li>
        <li>🏖️ Playa El Astillero</li>
        <li>🏖️ Playa Gavilán</li>
        <li>🌊 Playa Buena Onda</li>
        <li>🏖️ Playa Jiquilite</li>
        <li>🌅 Playa Santa Marta</li>
        <li>💛 Playa Amarillo</li>
        <li>🌴 Playa Gigante</li>
        <li>🌊 Playa Brito</li>
        <li>🏖️ Playa San Juan del Sur</li>
        </ul>
</div>
    <div class="detalle-botones">

       <button onclick="history.back()">
    ⬅️ Volver

 </butto>
 
    </div>
</section>


</body>
</html>