{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rivas - NicaExperience</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="encabezado-departamento">
    <h1>Rivas</h1>
    
 </header>

 <section class="descripcion-rivas">
    <div class="contenedor">

        <h2>Bienvenidos a Rivas</h2>

        <p>
            El departamento de Rivas es uno de los principales destinos turísticos de Nicaragua.
            Se caracteriza por sus hermosas playas del océano Pacífico, la impresionante Isla de
            Ometepe, sus volcanes, reservas naturales y una gran riqueza cultural que atrae a
            visitantes nacionales y extranjeros durante todo el año.
        </p>

    </div>
</section>
<section class="lugares-rivas">
    <div class="contenedor">

        <h2>Lugares Turísticos de Rivas</h2>

        <ul>
            <li>🏝️ Isla de Ometepe</li>
            <li>🌊 San Juan del Sur</li>
            <li>🏄 Playa Maderas</li>
            <li>💧 Ojo de Agua</li>
            <li>🌿 Reserva Natural Charco Verde</li>
            <li>🌋 Volcán Concepción</li>
            <li>⛰️ Volcán Maderas</li>
        </ul>

    </div>
</section>


</body>
</html>